<div class="section" id="XaboutMe" data-anchor="about">
    <div id="wrapper">
        <img class="aboutBackground" src="{{ '/assets/img/aboutBackground.png' | relative_url }}" data-aos="zoom-in" data-aos-duration="1000" />
        <div id="first">
            <h1 data-aos="customized-slide-right" data-aos-duration="500">
                About Me
            </h1>
            <button data-aos="customized-slide-right" data-aos-delay="500" data-aos-duration="500">
        See More
      </button>
        </div>
        <div id="second">
            <img class="portfolio" src="{{ '/assets/img/youstinaKodak.jpeg' | relative_url }}" data-aos="flip-up" data-aos-duration="1000" />
            <img class="portfolio" src="{{ '/assets/img/youstinaKodak.jpeg' | relative_url }}" data-aos="flip-down" data-aos-duration="1000" />
        </div>
    </div>
</div>