<div class="section" id="contact">
  <div id="wrapper">
    <div id="first">
      <h1 data-aos="customized-slide-right" data-aos-duration="300">
        Get in<br />touch
      </h1>
      <h3
        data-aos="email-slide-right"
        data-aos-delay="500"
        data-aos-duration="500"
      >
        {{ site.email }}
      </h3>
    </div>

    <div id="second">
      <img
        class="image big"
        src="{{ '/assets/img/youstinaOnLaptop.png' | relative_url }}"
        data-aos="pic-slide-left"  data-aos-duration="1000"
      />
      <img
        class="image small twitter"
        src="{{ '/assets/img/twitterRight.png' | relative_url }}"
        data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="500"
      />
      <img
        class="image small instagram"
        src="{{ '/assets/img/instagram.png' | relative_url }}"
        data-aos="zoom-in" data-aos-delay="200" data-aos-duration="500"
      />
      <img
      class="image small thumbsUP"
      src="{{ '/assets/img/thumbsUP.png' | relative_url }}"
      data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="500"
    />
    <img
    class="image small tinker"
    src="{{ '/assets/img/tinker.png' | relative_url }}"
    data-aos="zoom-in" data-aos-delay="500" data-aos-duration="500"
  />
  <img
    class="image small twitterLeft"
    src="{{ '/assets/img/twitterLeft.png' | relative_url }}"
    data-aos="zoom-in" data-aos-delay="700" data-aos-duration="500"
  />
  <img
  class="image small pause" 
  src="{{ '/assets/img/pause.png' | relative_url }}"
  data-aos="zoom-in" data-aos-delay="800" data-aos-duration="500"
/>
<img
class="image small star" 
src="{{ '/assets/img/star.png' | relative_url }}"
data-aos="zoom-in" data-aos-delay="700" data-aos-duration="500"
/>
<img
class="image small pinterest"
src="{{ '/assets/img/pinterest.png' | relative_url }}"
data-aos="zoom-in" data-aos-delay="500" data-aos-duration="500"
/>
<img
class="image small facebook"
src="{{ '/assets/img/facebook.png' | relative_url }}"
data-aos="zoom-in" data-aos-delay="800" data-aos-duration="500"
/>
<img
class="image small yellowThumbUp"
src="{{ '/assets/img/yellowThumbUp.png' | relative_url }}"
data-aos="zoom-in" data-aos-delay="700" data-aos-duration="500"
/>
<img
class="image small cactus"
src="{{ '/assets/img/cactus.png' | relative_url }}"
data-aos="zoom-in" data-aos-duration="500"
/>
    </div>
  </div>
</div>
