<div class="section" id="Xhome" data-anchor="home">
    <div id="wrapper">
        <div id="first">
            <h1 data-aos="customized-slide-right" data-aos-duration="500">
                {{site.username}}
            </h1>
            <h2 data-aos="customized-slide-right" data-aos-delay="500" data-aos-duration="500">
                Graphic designer /<br />UX I UI Designer
            </h2>
        </div>
        <div id="second">
            <img class="office" src="{{ '/assets/img/youstinaOffice.png' | relative_url }}" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="500" />
            <img class="big" src="{{ '/assets/img/youstinaSitting.png' | relative_url }}" data-aos="pic-slide-left" data-aos-duration="1000" />
        </div>
    </div>
</div>