<div class="section" id="Xworks" data-anchor="portfolio">
    <div id="wrapper">
        <img class="portfolioBackground" src="{{ '/assets/img/portfolioBackground.png' | relative_url }}" data-aos="zoom-in" data-aos-duration="1000" />
        <div id="first">
            <h1 data-aos="customized-slide-right" data-aos-duration="200">MY Portfolio</h1>
            <button data-aos="customized-slide-right" data-aos-delay="500" data-aos-duration="500"> See More</button>
        </div>
        <div id="second">
            <img class="portfolio" src="{{ '/assets/img/portfolio.jpeg' | relative_url }}" data-aos="flip-up" data-aos-duration="1000" />
            <img class="portfolio" src="{{ '/assets/img/portfolio.jpeg' | relative_url }}" data-aos="flip-down" data-aos-duration="1000" />
            <img class="small portfolioCactus" src="{{ '/assets/img/portfolioCactus.png' | relative_url }}" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="1000" />
        </div>
    </div>
</div>