<div id="menu-overlay">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Works</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>

<nav class="navbar navbar-expand-lg bg-transparent sticky-top px-4 py-4">
  <a
    class="navbar-brand icons-header"
    style=" font-size: 24px;"
    href="{{ '/' | relative_url }}"
  >
    {{ site.username }}
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="my-auto nav-item px-3">
        <a class="nav-link" href="#">
          <i class="fab fa-twitter icons-header"></i>
        </a>
      </li>

      <li class="my-auto nav-item px-3">
        <a
          class="nav-link"
          href="https://michelinemedhat.github.io/portfolMich/"
          tareg
        >
          <i class="fab fa-dribbble icons-header"></i>
        </a>
      </li>

      <li class="my-auto nav-item px-3">
        <a
          class="nav-link btn icons-header btn-link text-decoration-none"
          style="font-size: 24px;"
          href="#"
        >
          Wantedly
        </a>
      </li>
    </ul>
  </div>

  <div id="toggleIcon" class="ml-5" onclick="menuToggle()">
    <div id="nav-icon3">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
