<div id="menu-overlay">
  <ul>
    {% for element in site.data.nav-links %}
    <li>
      <a href="{{ element.link | relative_url }}" onclick="menuToggle()"> {{ element.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<nav class="navbar navbar-expand-lg bg-transparent fixed-top px-4 py-4">
  <a
    class="navbar-brand icons-header"
    style=" font-size: 24px; font-family: 'Montserrat'; font-weight: lighter; color:white"
    href="{{ '/' | relative_url }}" 
  >
    {{ site.username }}
  </a>

  <div class="collapse navbar-collapse">
  </div>

  <div id="toggleIcon" class="ml-5" onclick="menuToggle()">
    <div id="nav-icon3">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
