<nav class="navbar navbar-expand-lg navbar-dark bg-transparent text-white px-5 py-3">
  <a class="navbar-brand icons-header" style=" font-size: 24px;" href="/">
    {{ site.username }}
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="my-auto nav-item px-3">
        <a class="nav-link" href="#">
          <i class="fab fa-twitter icons-header"></i>
        </a>
      </li>

      <li class="my-auto nav-item px-3">
        <a class="nav-link" href="https://michelinemedhat.github.io/portfolMich/" target="_blank">
          <i class="fab fa-dribbble icons-header"></i>
        </a>
      </li>

      <li class="my-auto nav-item px-3">
        <a
          class="nav-link btn icons-header btn-link text-decoration-none"
          style="font-size: 24px;"
          href="#"
        >
          Wantedly
        </a>
      </li>
      
      <li class="ml-4 nav-item">
        <a class="nav-link" href="#">
          <div id="toggleIcon" onclick="menuToggle()"> 
          </div>
          <div id="menu-overlay">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Works</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <!--<i class="fas fa-3x fa-grip-lines icons-header"></i>-->
        </a>
      </li>
    </ul>
  </div>

</nav>

