<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function menuToggle() {
        var nav = document.getElementById("menu-overlay");
        nav.classList.toggle("active");
        var nav = document.getElementById("toggleIcon");
        nav.classList.toggle("active");
    }
</script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        startEvent: "load"
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.js"></script>
<script type="text/javascript">
    new fullpage("#fullpage", {
        navigation: true,
        scrollingSpeed: 1e3,
        animateAnchor: !1,
        easingcss3: "cubic-bezier(0.645, 0.045, 0.355, 1)",
        anchors: ['home', 'portfolio', 'about', 'contact'],
        afterLoad: () => $(".fp-table.active .aos-init").addClass("aos-animate"),
        onLeave: () => $(".fp-table.active .aos-init").removeClass("aos-animate")
    });
</script>