body {
  background-image: url("../img/background.png");
  background-color: $X-background-color;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 350px;
  background-position: right 50% top 80px;

  @include min-width(md) {
    background-size: 500px;
  }

  @include min-width(lg) {
    background-size: 861px;
    background-position: right 10px top 50%;
  }
}

#fullpage {
  height: 100vh;
}

.section {
  display: flex;
  color: white;
  float: right;

  @include min-width(md) {
    padding: 0 0;
    left: $sidebar-width;
  }
}

.left-sidebar {
  position: fixed;
  min-height: 100vh;
  background: $X-background-color;
  z-index: 10;

  @include min-width(md) {
    width: 180px;
  }
}

#contact,
#aboutMe,
#home,
#works {
  font-family: $X-font;
  h1 {
    font-size: 2em;
    font-weight: bold;
    @include min-width(md) {
      font-size: 5em;
      max-width: 250px;
    }
  }
  h2 {
    margin-top: 2%;
    font-size: 20px;  
    font-weight: lighter;
    @include min-width(md) {
      font-size: 40px;  
      margin-top: 5%;
    }
  }

  h3 {
    font-size: 1em;
    margin-top: 2%;
    font-weight: lighter;
    @include min-width(md) {
      margin-top: 5%;
      font-size: 150%;
    }
  }

  button {
    margin-top: 2%;
    width: 30vh;
    height: 50px;
    border-radius: 25px;
    border-color: transparent;
    background-color: #f85c50;
    transition: transform 0.3s ease-out;
    color: white;

    &:focus {
      border-color: transparent !important;
      outline: none;
    }

    @include min-width(md) {
      margin-top: 6%;
      &:hover {
        transform: translate(0, -5px);
      }
    }
  }
}

img {
  &.big {
    width: 90%;
  }

  &.small {
    width: 12%;
    position: relative;

    &.twitter {
      right: -11%;
      top: -43%;
    }

    &.instagram {
      right: 1%;
      top: -24%;
    }

    &.thumbsUP {
      top: -54%;
      right: -16%;
    }

    &.tinker {
      top: -35%;
      right: 17%;
      width: 10% !important;
    }

    &.twitterLeft {
      top: -33%;
      right: -10%;
      width: 10% !important;
    }

    &.pause {
      top: -50%;
      right: 32%;
      width: 10% !important;
    }

    &.star {
      top: -43%;
      right: 18%;
      width: 8% !important;
    }

    &.pinterest {
      top: -43%;
      right: 13%;
      width: 10% !important;
    }
    &.facebook {
      top: -64%;
      right: -58%;
      width: 10% !important;
    }

    &.yellowThumbUp {
      top: -36%;
      right: -59%;
      width: 10% !important;
    }

    &.cactus {
      top: -31%;
      right: 0%;
      width: 15% !important;
    }
  }

  @include min-width(md) {
    &.big {
      width: 800px;
      height: 800px;
      position: absolute !important;
    }
  }
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  @include min-width(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#first {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include min-width(md) {
    justify-content: center;
  }
}

#second {
  flex: 2;
}
