body {
  background-image: url("../background.png");
  background-color: $X-background-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#fullpage {
  height: 100vh;
}

.section {
  left: $sidebar-width;
  display: flex;
  color: white;
  float: right;
  @include min-width(md) {
    padding: 0 0;
  }
}

[data-aos="customized-slide-right"] {
  opacity: 1;
  transition-property: transform, opacity;
  &.aos-animate {
    opacity: 1;
  }
  transform: translateX(-500px);
  &.aos-animate {
      transform: translateX(-150px);
    }

  @include min-width(md) {
    transform: translateX(-500px);
    &.aos-animate {
      transform: translateX(0);
    }
  }
 
}


.left-sidebar {
  position: fixed;
  min-height: 100vh;
  width: 50px;
  background: $X-background-color;
  z-index: 10;

  @include min-width(md) {
    width: 200px;
  }

}

#contact,
#aboutMe,
#home,
#works {
  h1 {
    font-size: 3em;
    width: 150px;
   
    @include min-width(md) {
      font-size: 5em;
      width: 250px;
    }
  }
  h2
  {
    margin-top: 20px;
    font-size: 2em;
    font-family: 'Cairo';
  }

  h3 
  {
    margin-top: 20px;
    font-size: 1.5em;
    font-family: 'Cairo';
  }

  button
  {
    margin-top: 30px;
    width: 30vh;
    height: 50px;
    border-radius: 25px;
    border-color:transparent ;
    background-color: #F85C50;
    transition: transform .3s ease-out;
    color: white;

    &:focus{
      border-color:transparent!important;
      outline:none;
     }

     @include min-width(md) {
      &:hover 
     {
      transform: translate(0, -5px);
     }
    }  

  }

}

.icons-header {
  color: white !important;
  font-size: 24px;
  &:hover {
    opacity: 50%;
  }
}

