body {
  background-image: url("../img/background.png");
  background-color: $X-background-color;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 350px;
  background-position: right 50% top 80px;

  @include min-width(md) {
    background-size: 500px;
  }

  @include min-width(lg) {
    background-size: 861px;
    background-position: right 10px top 50%;
  }
}

#fullpage {
  height: 100vh;
}

.section {
  display: flex;
  color: white;
  float: right;
  margin-bottom: 10%;

  @include min-width(md) {
    padding: 0 0;
    left: $sidebar-width;
    bottom: 0;
    top: 0;
  }
}

.left-sidebar {
  position: fixed;
  @include min-width(md) {
    width: 180px;
    bottom: 0px;
    min-height: 100vh;
    background: $X-background-color;
    z-index: 10;
  }
}

#contact,
#aboutMe,
#home,
#works {
  font-family: $X-font;
  h1 {
    font-size: 2em;
    font-weight: bold;
    @include min-width(md) {
      font-size: 5em;
      max-width: 250px;
    }
  }
  h2 {
    margin-top: 2%;
    font-size: 20px;
    font-weight: lighter;
    @include min-width(md) {
      font-size: 40px;
      margin-top: 5%;
    }
  }

  h3 {
    font-size: 1em;
    margin-top: 2%;
    font-weight: lighter;
    @include min-width(md) {
      margin-top: 5%;
      font-size: 150%;
    }
  }

  button {
    margin-top: 2%;
    width: 30vh;
    height: 50px;
    border-radius: 25px;
    border-color: transparent;
    background-color: #f85c50;
    transition: transform 0.3s ease-out;
    color: white;

    &:focus {
      border-color: transparent !important;
      outline: none;
    }

    @include min-width(md) {
      margin-top: 6%;
      &:hover {
        transform: translate(0, -5px);
      }
    }
  }
}

img {
  position: absolute;
  &.big {
    width: 50%;
  }

  &.small {
    width: 12%;

    @include min-width(md) {
      width: 9% !important;
    }

    &.twitter {
      @include top-right(calc(50% - 10%), calc(50% + 30%));

      @include min-width(md) {
        @include top-right(calc(50% - 30%), calc(50% + 40%));
      }
    }

    &.instagram {
      @include top-right(calc(50% + 5%), calc(50% + 25%));

      @include min-width(md) {
        @include top-right(calc(50%), calc(50% + 38%));
      }
    }

    &.thumbsUP {
      @include top-right(calc(50% - 25%), calc(50%));

      @include min-width(md) {
        @include top-right(calc(50% - 35%), calc(50% + 28%));
      }
    }

    &.tinker {
      @include top-right(calc(50% - 7%), calc(50% + 8%));
      width: 10% !important;

      @include min-width(md) {
        @include top-right(calc(50% - 12%), calc(50% + 33%));
        width: 8% !important;
      }
    }

    &.twitterLeft {
      @include top-right(calc(50%), calc(50% - 25%));

      @include min-width(md) {
        @include top-right(calc(50%), calc(50% - 8%));
        width: 8% !important;
      }
    }

    &.pause {
      @include top-right(calc(50% - 15%), calc(50% + 17%));
      width: 10% !important;

      @include min-width(md) {
        @include top-right(calc(50% - 19%), calc(50% + 22%));
        width: 8% !important;
      }
    }

    &.star {
      @include top-right(calc(50% - 10%), calc(50% - 20%));
      width: 8% !important;

      @include min-width(md) {
        @include top-right(calc(50% - 15%), calc(50% - 2%));
        width: 6% !important;
      }
    }

    &.pinterest {
      @include top-right(calc(50% - 10%), calc(50% - 35%));
      width: 10% !important;

      @include min-width(md) {
        @include top-right(calc(50% - 22%), calc(50% - 19%));
      }
    }

    &.facebook {
      @include top-right(calc(50% - 20%), calc(50% - 22%));
      width: 10% !important;

      @include min-width(md) {
        @include top-right(calc(50% - 33%), calc(50% - 6%));
      }
    }

    &.yellowThumbUp {
      @include top-right(calc(50% + 5%), calc(50% - 35%));
      width: 10% !important;

      @include min-width(md) {
        @include top-right(calc(50% + 5%), calc(50% - 19%));
      }
    }

    &.cactus {
      @include top-right(calc(50% + 5%), calc(50% + 7%));
      width: 15% !important;

      @include min-width(md) {
        @include top-right(calc(50% + 2%), calc(50% + 21%));
      }
    }
  }
}

#wrapper {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  @include min-width(md) {
    flex-direction: row;
  }
}

#first {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include min-width(md) {
    justify-content: center;
  }
}

#second {
  flex: 2;
  position: relative;
}
