<!DOCTYPE html>

<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div id="fullpage">
      <div class="section">
        {% include sections/home.html %}
      </div>
      <div class="section">
        {% include sections/aboutMe.html %}
      </div>
      <div class="section">
        {% include sections/works.html %}
      </div>
      <div class="section">
        {% include sections/contact.html %}
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
