<!DOCTYPE html>

<html lang="en">
{% include head.html %}

<body>
    {% include header.html %}

    <div class="left-sidebar"></div>

    <div id="container">
        <div id="moonContainer">
            <div id="moonFirst"></div>
            <div id="moonSecond">
                <img class="img moon" src="{{ '/assets/img/background.png' | relative_url }}" />
            </div>
        </div>
        <div id="fullpage">
            {% include sections/home.html %} {% include sections/works.html %} {% include sections/aboutMe.html %} {% include sections/contact.html %}
        </div>
    </div>

    </div>

    {% include scripts.html %}
</body>

</html>